html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", Arial, sans-serif;
  color: #161918;
  background-color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.cover-slide {
  background-image: url("../img/slide.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #bdbdbd;
  color: #161918;
}

.container-center {
  width: 1860px;
  margin: 0 auto;
}

.main-navigation {
font-size: 11px;
line-height: 64px;
text-transform: uppercase;
}


.site-navigation,
.search,
.cart {
  list-style: none;
  margin-left: 0;
  padding: 0;
}

.site-navigation a {
  color: #161918;
}

.site-navigation a:hover,
.site-navigation a:focus,
.search a:hover,
.search a:focus,
.cart a:hover,
.cart a:focus {
  color: red;
}

.feature-slide .title-slide {
  font-size: 56px;
  line-height: 64px
}

.slides-swithes-1 {
  list-style: none;
}

.service-list {
  list-style: none;
}

.service-item {
  text-align: center;
}

.service-item h3 {
  color: #000000;
  line-height: 64px;
  font-size: 14px;
}

.service-item p {
  color: #929292;
}

.goods-list-short {
  list-style: none;
}

.goods-list-short a {
  color: #000000;
  font-size: 11px;
}

.goods-list-short a:hover,
.goods-list-short a:focus {
  color: #ffffff;

}

.trending h2 {
  text-align: center;
  font-size: 42px;
  line-height: 64px;
  }

.trending p {
  color: #929292;
}

.sorting-type {
  list-style: none;
}

.sorting-type a {
  color: #000000;
}

.sorting-type a:hover,
.sorting-type a:focus {
  color: #d3d3d3;
}

.trending-list {
  list-style: none;
}

.trending-list .price {
  color: #929292;
}

.trending-list .button-details {
  color: #000000;
}

.trending-list .button-details:hover,
.trending-list .button-details:active {
  color: #ffffff;
}

.trending .button-goods {
  color: #ffffff;
}

.bag-shoes-partition p {
  color: #929292;
}

.button-info {
  color: #000000;
}

.brands-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.insta-banner .pic-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* --------------------------стили каталога--------------------------- */
.wear-category,
.wear-subcategory {
  list-style: none;
  margin: 0;
  padding: 0;
}

.wear-category a,
.wear-subcategory a {
  color: #000000;
}

.category-item {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  }

.filter-name {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;

}

.filters fieldset {
  border: none;
}

.category-list {
  list-style: none;
}

/* --------------------------стили каталога окончание----------------------- */

.footer-contacts address,
.footer-contacts p  {
  font-style: normal;
  color: #010101;
}

.social-connection p {
  color: #929292;
}

.social-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.payment-system {
  background-color: #1e1b1b;
}

.payment-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
