html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", Arial, sans-serif;
  color: #161918;
  background-color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.cover-slide {
  background-image: url("../img/slide.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #bdbdbd;
  color: #161918;
}

.container-center {
  width: 1860px;
  margin: 0 auto;
}

.main-navigation {
font-size: 11px;
line-height: 64px;
text-transform: uppercase;
}


.site-navigation,
.search,
.cart {
  list-style: none;
  margin-left: 0;
  padding: 0;
}

.site-navigation a {
  color: #161918;
}

.site-navigation a:hover,
.site-navigation a:focus,
.search a:hover,
.search a:focus,
.cart a:hover,
.cart a:focus {
  color: red;
}

.feature-slide .title-slide {
  font-size: 56px;
  line-height: 64px
}

.slides-swithes-1 {
  list-style: none;
}

.service-list {
  list-style: none;
}
