html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", Arial, sans-serif;
  color: #161918;
  background-color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.cover-slide {
  background-image: url("../img/slide.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #bdbdbd;
  color: #161918;
}

.main-header {
  margin-bottom: 179px;
}

.container-center {
  width: 1140px;
  margin: 0 auto;
  padding: 0 15px 0 16px;
}

.main-navigation {
  display: flex;
  flex-wrap: wrap;
  text-transform: uppercase;
  padding-top: 17px;
}

.main-header-logo {
  order: 2;
  width: 187px;
  height: 18px;
  margin-bottom: 28px;
  margin-top: 19px;
}

.site-navigation,
.search,
.cart {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation {
  width: 740px;
  margin: 0 auto;
  order: 4;
  border-top: solid 1px #d4d4d4;
  font-size: 11px;
  font-weight: 600;
  line-height: 64px;

  }

.site-navigation li {
  margin-right: 78px;

}

.site-navigation li:last-child {
  margin-right: 0;
}

.search {
  width: 95px;
  margin-top: 20px;
  margin-right: 364px;
}

.search .menu-sandwich {
  margin-right: 25px;
}

.search .serching-loupe {
  margin-top: 1px;
}

.cart {
margin-top: 8px;
margin-left: auto;
  order: 2;
  width: 92px;
  justify-content: space-between;
}

.cart .share-link {
  margin-left: 22px;
  margin-top: 12px;
}

.cart .cart-icon {
  margin-top: 9px;
}

.site-navigation a {
  color: #161918;
}

.site-navigation a:hover,
.site-navigation a:focus,
.search a:hover,
.search a:focus,
.cart a:hover,
.cart a:focus {
  color: red;
}

.feature-slide .title-slide {
  font-size: 56px;
  line-height: 64px;
  margin-bottom: 19px;
}

.feature-slide .description-slide {
  width: 358px;
  padding-right: 60px;
  margin-bottom: 45px;
  font-size: 14px;
  color: #7f7f7f;
}

.button {
  display: block;
  text-transform: uppercase;
  text-align: center;
}

.inform-button {
  width: 195px;
  padding-top: 17px;
  padding-bottom: 17px;
  margin-bottom: 276px;
  font-size: 11px;
  background-color: #000000;
  color: #ffffff;
}

.inform-button:hover {
  color: #3f3f3f;
}

.slides-swithes {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: 29px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slide-btn {
  width: 10px;
  height: 10px;
  margin-left: 7px;
  background-color: #ffffff;
}

.slide-btn-active {
  margin-left: 0;
  background-color: #000000;
  cursor: auto;
}

.left-control,
.right-control {
  position: relative;
  width: 54px;
  height: 54px;
  border: solid 2px #ffffff;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

.left-control {
  bottom: 418px;
  right: 392px;
}

.right-control {
  bottom: 418px;
  left: 1382px;
  background-color: #292929;
}

.left-control::before,
.right-control::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border: 2px solid #c8c8c8;
  transform: rotate(45deg);
}

.left-control::before {
  left: 21px;
  bottom: 19px;
  border-top: transparent;
  border-right: transparent;
}

.right-control::before {
  right: 21px;
  bottom: 19px;
  border-bottom: transparent;
  border-left: transparent;
}

.service-wrapper {
  width: 1295px;
  margin: 0 auto;
  padding-left: 23px;
}

.services {
  margin-top: 43px;
  margin-bottom: 28px;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.service-item {
  text-align: center;
  width: 320px;
  margin-right: 153px;
}

.service-item:last-child {
  margin-right: 0;
}

.service-pic-1 {
  margin-top: 4px;
}

.service-pic-3 {
  margin-top: 8px;
}

.service-item h3 {
  color: #000000;
  line-height: 35px;
  font-size: 14px;
}

.service-item p {
  color: #929292;
}

.goods-wrapper {
  width: 1856px;
  margin: 0 auto;
  margin-bottom: 86px;
  /* padding: 0 15px; */
}

.goods-list-short {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.product-card {
  position: relative;
  margin-right: 32px;
}

.product-card:last-child {
  margin-right: 0;
}

.button-show {
  position: absolute;
  width: 250px;
  padding-top: 22px;
  padding-bottom: 21px;
  background-color: #ffffff;
  bottom: 24px;
  left: 97px;
}

.button-show:hover {
  background-color: #000000;
  color: #ffffff;
}

.goods-list-short .button-show {
  color: #000000;
  font-size: 11px;
}

.goods-list-short .button-show:hover,
.goods-list-short .button-show:focus {
  color: #ffffff;
}

.trending-wrapper {
  width: 1870px;
  margin: 0 auto;
  margin-bottom: 38px;
  padding: 0;
  padding-left: 7px;
}

.trending {
  margin-bottom: 79px;
}

.trending h2 {
  margin-bottom: 23px;
  text-align: center;
  font-size: 42px;
  font-weight: inherit;
  line-height: 64px;
}

.line-under-trending {
  width: 94px;
  color: #cfcfcf;
  margin-bottom: 31px;
}

.trend-description {
  width: 765px;
  margin: 0 auto;
  margin-bottom: 36px;
  padding-right: 44px;
  color: #929292;
  text-align: center;
}

.sorting-type {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 49px;
}

.sorting-type li {
  margin-right: 20px;
}

.button-sort-item {
  position: relative;
  min-width: 135px;
  font-size: 12px;
  line-height: 30px;
  text-transform: none;
  padding-top: 4px;
  padding-bottom: 4px;
  color: #000000;
  background-color: #eeeeee;
}

.sorting-type li:first-child {
  margin-left: auto;
}

.sorting-type li:last-child {
  margin-right: auto;
}

.button-sort-item::after {
  content: "";
  position: absolute;
  top: 38px;
  right: 59px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #eeeeee;
}

.btn-sort-item-1::after {
  content: "";
  position: absolute;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 6px solid #eeeeee;
}

.button-sort-item:hover,
.button-sort-item:focus {
  color: #d3d3d3;
  background-color: #292929;
}

.btn-sort-item-1:hover::after,
.btn-sort-item-1:hover::after {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 6px solid #292929;
}

.button-sort-item:hover::after,
.button-sort-item:focus::after {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 6px solid #292929;
}

.trend-wrapper {
  width: 1870px;
  margin: 0 auto;
}

.trending-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  }

.trending-card {
  position: relative;
  width: 348px;
  margin-right: 30px;
}

.trending-card:last-child,
.trending-card:nth-child(5) {
  margin-right: 0;
}

.main-pic {
  margin-bottom: 0;
}

.marker-new,
.marker-discont {
  position: absolute;
}

.marker-new {
  top: 15px;
  right: 15px;
}

.marker-discont {
  top: 15px;
  left: 15px;
}

.description-goods {
  font-size: 14px;
  line-height: 64px;
  text-align: center;
  margin-top: -11px;
  margin-bottom: -35px;
  color: #000000;
}

.description-goods-4 {
  margin-top: -61px;
  margin-bottom: -6px;
}

.trending-list .price {
  color: #929292;
}

.button-info {
  display: inline-block;
  position: relative;
  width: 153px;
  left: 130px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 11px;
  background-color: #ffffff;
  color: #000000;
}

.button-details {
  bottom: 70px;
  left: 24px;
}

.button-view {
  bottom: 70px;
  left: 15px;
}

.trending-list .button-info:hover,
.trending-list .button-info:active {
  color: #ffffff;
  background-color: #292929;
}

.trending .button-goods {
  width: 230px;
  margin: 0 auto;
  padding-top: 23px;
  padding-bottom: 23px;
  color: #ffffff;
  background-color: #000000;
}

.presentation-goods {
  width: 1920px;
  margin: 0 auto;
  display: flex;
  margin-bottom: 63px;
}

.presentation-goods img {
  margin-left: -6px;
  width: 958px;
}
/*вместо задания центровки секции presentation-goods попробовать
добавить класс центровщик, изначально не задал его, т.к. фото с товаром (слева)
вплотную примыкает к краю макета, а для центровки нужно расстояние.. хотя бы 1px*/


.bag-shoes-partition {
  display: flex;
  width: 962px;
  flex-direction: column;
  /* text-align: center; */
  align-items: center;
  padding-top: 142px;

}

.bag-shoes-partition h2 {
  font-size: 42px;
  line-height: 64px;
  font-weight: inherit;
  margin-bottom: 20px;
}

.bag-shoes-partition p {
  width: 480px;
  color: #929292;
  margin: 0 auto;
  margin-bottom: 45px;
}

.button-more-info {
  width: 194px;
  color: #000000;
  border: 1px solid #000000;
  margin: 0 auto;
  padding-top: 17px;
  padding-bottom: 17px;
}

.bag-shoes-line {
  width: 109px;
  color: #cfcfcf;
  margin-bottom: 31px;
  margin-top: 3px;
}

.brands-wrapper {
  width: 1710px;
  margin: 0 auto;
  /* padding: 0 75px; */
  }

.brands-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.brands-list li {
  width: 170px;
  margin-right: 90px;
}

.brands-list li:last-child {
  margin-right: 0;
}

.insta-banner .pic-list {
  display: flex;
  flex-wrap: wrap;
  width: 1920px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin: 0 auto;
  margin-bottom: -5px;
}

.pic-list-item {
  display: flex;
  flex-direction: column;
  /* text-align: center; */
}

/* .logo {
  margin-left: 110px;
}

.logo-sisley {
margin-bottom: 51px;
}

.logo-wrangler {
  margin-bottom: 46px;
}

.logo-fredperry {
  margin-bottom: 57px;
  margin-left: 88px;
  margin-top: 6px;
}

.logo-levis {
margin-bottom: 51px;
margin-top: 6px;
}

.logo-jackjones {
margin-bottom: 59px;
margin-left: 67px;
margin-top: 8px;
}

.logo-lacoste {
  margin-bottom: 57px;
  margin-left: 85px;
  margin-top: 4px;
} */

.insta-banner {
  position: relative;
}

.insta-title {
  position: absolute;
  font-size: 42px;
  line-height: 20px;
  font-weight: inherit;
  color: #ffffff;
  top: 35%;
  left: 45%;
}

/* --------------------------стили каталога--------------------------- */
.site-navigation-cat {
  margin-bottom: 118px;
}

.catalog-cover-columns {
  display: flex;
  justify-content: space-between;
}

.dress-filters {
  width: 280px;
}

.wear-category,
.wear-subcategory {
  list-style: none;
  margin: 0;
  padding: 0;
}

.wear-category a {
  color: #000000;
}

.category-item {
  position: relative;
  font-size: 14px;
  line-height: 36px;
  font-weight: 500;
  text-transform: uppercase;
}

.name-category-1::after,
.name-category-2::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  border: 1px solid #000000;
  transform: rotate(45deg);
  border-top: transparent;
  border-left: transparent;
  left: 210px;
  top: 13px;
}

.name-category-2::after {
  transform: rotate(-135deg);
}

.subcategory-item {
  font-size: 12px;
  line-height: 30px;
  color: inherit;
}

.subcategory-item a {
  color: #929292
}

.subcategory-item-current {
  font-weight: 500;
  color: #000000;
}

.filter-name {
  font-size: 14px;
  line-height: 36px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;
}

.filter-form {
  margin-bottom: 24px;
}

.filters fieldset {
  margin: 0;
  padding: 0;
  margin-bottom: 11px;
  border: none;
}

.filters legend {
  /* margin-bottom: придется вручную подгонять при несовпадении с макетом
  т.к. высоты строк большие и у legend и у следующих за ними текстовыми эл-ми */
  font-size: 14px;
  line-height: 36px;
}

.category-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.color-pane-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.material-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.category-list li,
.color-pane-list li,
.material-list li {
  font-size: 12px;
  padding-left: 28px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox+label::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border: 1px solid #000000;
  left: -25px;
  top: 2px;
}

.filter-input-checkbox:checked+label::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #000000;
  top: 4px;
  left: -23px;
}

.filter-input-colors+.color-panel::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border: 1px solid #000000;
  left: -25px;
  top: 2px;
}

.filter-input-colors+.color-beige::before {
  background-color: #f1e5d2;
  border: none;
}

.filter-input-colors+.color-black::before {
  background-color: #000000;
  border: none;
}

.filter-input-colors+.color-yellow::before {
  background-color: #ebad29;
  border: none;
}

.filter-input-colors+.color-white::before {
  background-color: #f6f6f6;
  border: none;
}

.filter-input-checkbox:not(:disabled)+label:hover::before,
.filter-input-checkbox:not(:disabled)+label:hover::after,
.filter-input-checkbox:not(:disabled):focus+label::before,
.filter-input-checkbox:not(:disabled):focus+label::after {
  opacity: 0.5;
}

.filter-input-colors+.color-panel:hover::before,
.filter-input-colors:focus+.color-panel::before {
  border: solid 1px #c9bfbf;
}

.filter-button {
  width: 140px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid #000000;
  text-align: center;
}

.dresses-catalog {
  margin-bottom: 19px;
  font-size: 32px;
  line-height: 36px;
  font-weight: inherit;
  color: #000000;
}

.description-page {
  color: #000000;
  margin-bottom: 42px;
}

.sorting-dresses {
  margin-bottom: 25px;
}

.sorting-wrapper {
  display: flex;
  width: 825px;
  background-color: #f2f2f2;
  margin-bottom: 18px;
}

.filter-sort .result-description {
  width: 137px;
  margin-left: 20px;
  font-weight: 400;
  line-height: 36px;
  color: #000000;
}

.filter-sort .type-sorting {
  margin-left: auto;
  margin-right: 40px;
  line-height: 35px;
}

.text-highlighting {
  color: #929292;
}

.type-sorting {
  position: relative;
}

.type-sorting::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 175px;
  width: 5px;
  height: 5px;
  border: 1px solid #000000;
  transform: rotate(45deg);
  border-left: transparent;
  border-top: transparent;
  cursor: pointer;
}

.active-filter {
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.catalog {
  width: 810px;
  margin-bottom: 159px;
}

/* -----------------непосредственно отсюда начинается каталог------------------------------------ */
.current-filter {
  position: relative;
  width: 121px;
  bottom: 50px;
  left: 110px;
  font-size: 9px;
  line-height: 36px;
  text-transform: uppercase;
  padding-left: 13px;
  background-color: #000000;
  color: #ffffff;
}

.current-filter::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 105px;
  width: 6px;
  height: 6px;
  background-image: url("../img/catalog/Shape4.svg");
  cursor: pointer;
}

.description-goods-catalog {
  font-size: 14px;
  line-height: 64px;
  text-align: center;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  width: 827px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-list li {
  position: relative;
  width: 254px;
  margin-right: 30px;
}

.catalog-list li:nth-child(3n) {
  margin-right: 0
}

.sale {
  position: absolute;
  top: 13px;
  left: 15px;
}

/* --------------------------стили каталога окончание----------------------- */
.price-current,
.price-old {
  line-height: 17px;
  position: relative;
  text-align: center;
  color: #929292;
}

.price-current {
  font-size: 16px;
  right: 34px;
  bottom: -9px;
}

.price-current-only {
  position: static;
  text-align: center;
  margin-top: 25px;
}

.price-old {
  bottom: 23px;
  left: 38px;
  font-size: 13px;
  text-decoration: line-through;
}

.colors-panel {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.color-cub {
  width: 18px;
  height: 18px;
  background-color: #787272;
  cursor: pointer;
}

.color-cub-1 {
  margin-left: 122px;
  margin-right: 9px;
  background-color: #efacac;
}

.color-cub-2 {
  background-color: #edd9a2;
  margin-right: 6px;
}

.color-cub-3 {
  position: relative;
  margin-right: 6px;
  width: 26px;
  height: 26px;
  bottom: 4px;
  border: solid 1px #010203;
  background-color: #b0dfb8;
}

.color-cub-4 {
  margin-right: auto;
  background-color: #b7cdd4;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  width: 825px;
  background-color: #f2f2f2;
}

.pagination-description {
  width: 155px;
  margin-left: 21px;
  line-height: 36px;
  color: #000000;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: 40px;
  margin-top: 15px;
}

.pagination-item {
  margin-right: 7px;
}

.pagination-left-dir {
  position: relative;
  margin-right: 19px;
  background-color: transparent;
}

.pagination-left-dir::before {
  content: "";
  position: absolute;
  right: 70px;
  top: 15px;
  width: 6px;
  height: 6px;
  border: solid 1px #272727;
  transform: rotate(45deg);
  border-top: transparent;
  border-right: transparent;
  cursor: pointer;
}

.pagination-right-dir {
  position: relative;
  margin-right: 0;
  margin-left: 19px;
}

.pagination-right-dir::after {
  content: "";
  position: absolute;
  left: 40px;
  top: 15px;
  width: 6px;
  height: 6px;
  border: solid 1px #272727;
  transform: rotate(45deg);
  border-bottom: transparent;
  border-left: transparent;
  cursor: pointer;
}

.pagination-item a {
  display: block;
  min-width: 30px;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
  line-height: 26px;
  border: 1px solid transparent;
  color: #000000;
}

.pagination-item a:not([href]) {
  color: #ffffff;
  background-color: #000000;
}

.order-1,
.order-2 {
  line-height: 26px;
  color: #000000;
}

.footer-location {
  position: relative;
  padding-top: 102px;
  padding-bottom: 102px;
  margin-bottom: 69px;
  background-color: #929292;
  background-image: url(../img/map/map.jpg);
  background-position: 50% 50%;
}

iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 0;
  top: 0;
  left: 0;
  z-index: 1;
}

.footer-contacts {
  position: relative;
  padding-top: 30px;
  padding-bottom: 24px;
  padding-left: 40px;
  padding-right: 68px;
  width: 337px;
  line-height: 30px;
  color: #000000;
  background-color: #ffffff;
  pointer-events: auto;
  z-index: 10;
}

.contact-address {
  font-style: normal;
  line-height: 20px;
}

.footer-wrapper {
  display: flex;
  margin-bottom: 87px;
}

.main-footer-logo {
  display: block;
  margin-bottom: 43px;
}

.description-arkana {
  width: 250px;
  color: #929292;
  margin-bottom: 30px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 39px;
}

.social-list li {
  margin-left: 12px;
}

.social-list li:first-child {
  margin-left: 0;
}

.social-button {
  display: flex;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: #e9e9e9;
}

.social-button:hover,
.social-button:active {
  background-color: #d6d6d6;
}

.subscribe-us fieldset {
  width: 347px;
  border: solid 1px #dfdfdf;
  padding-top: 4px;
  padding-bottom: 4px;
}

.your-email {
  margin-left: -10px;
  font-size: 11px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;
}

.field-email {
  width: 252px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 19px;
  outline: none;
  border: 0;
}

.field-email::placeholder {
  font-size: 11px;
  line-height: 20px;
  font-weight: 400;
  color: #929292;
  }

.our-products {
  width: 111px;
  margin-left: 90px;
  margin-top: -11px;
}

.information {
  margin-left: 200px;
  margin-top: -11px;
}

.your-account {
  width: 128px;
  margin-left: 112px;
  margin-top: -11px;
}

.payment-system {
  background-color: #1e1b1b;
}

.pay-here {
  display: block;
  width: 174px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.payment-cover {
  width: 100%;
  margin-left: 58%;
}
